@keyframes textPrimario{
    from{
        opacity: 0;
        transform: translateY(-200px);
    }

    to{
        opacity: 1;
        transform: translateY(none);
    }
}

.textoPrimario{
    animation: textPrimario 3s forwards;
}

@keyframes textSecundario{
    from{
        display: none;
        visibility: hidden;
        opacity: 0;
        transform: translateY(100px);
    }

    to{
        visibility: visible;
        opacity: 1;
        transform: translateY(none);
    }
}

.textoSecundario{
    animation: textSecundario 3s forwards;
}

[data-anime]{
    opacity: 0;
    transition: 0.5s;
}

[data-anime="left"]{
    transform: translate3d(-150px, 0, 0);   
}

[data-anime="right"]{
    transform: translate3d(-150px, 0, 0);   
}

/*[data-anime="bottom"].divArtigos{
    transform: translate3d(0, 150px, 0);
}*/

[data-anime].animete{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

@keyframes projetos{
    from{
        display: none;
        visibility: hidden;
        opacity: 0;
        transform: translateY(150px);
    }

    to{
        visibility: visible;
        opacity: 1;
        transform: translateY(none);
    }
}

.divArtigos{
    opacity: 0;
    visibility: hidden;
}

.divArtigos.animete{
    opacity: 1;
    visibility: visible;
    animation: projetos 2s;
}

@keyframes diferencial{
    from{
        display: none;
        visibility: hidden;
        opacity: 0;
        transform: translateY(150px);
    }

    to{
        visibility: visible;
        opacity: 1;
        transform: translateY(none);
    }
}

.diferencial{
    opacity: 0;
    visibility: hidden;
}

.diferencial.animete{
    opacity: 1;
    visibility: visible;
    animation: diferencial 2s; 
}