:root{
   --font-texto: white; 
   --font-family-principal: 'Secular One', sans-serif;
}

body{
    background-color: black;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    color: var(--font-texto);
    align-items: center;
    justify-content:center;
    gap: 20rem;
    height: 5rem;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

li{
    font-family: var(--font-family-principal);
    font-size: 1.2rem;
    /*Linha abaixo serve para remover a decoração das li do HTML.*/
    list-style-type: none;
}

#textoPrimarioCenter{
    width: 100%;
    text-align: center;
}

.textoPrimario{
    box-sizing: border-box;
    color: var(--font-texto);
    font-size: 2.5rem;
    text-align: center;
    font-family: var(--font-family-principal);
    line-height: 1.5rem;
    margin:8rem auto 0;
    background-image: linear-gradient(to right,#463DD6,#FF0090, #FFFF69 );
    -webkit-background-clip: text;
    display: inline-block;
    padding: 0px;
    -webkit-text-fill-color: #00000000;
}

.textoSecundario{
    color: var(--font-texto);
    font-family: var(--font-family-principal);
    text-align: center;
    font-size: 1.5rem;
    line-height: 0.7rem;
    opacity: 0;
}

#orcamento{
    display: flex;
    align-items: center;
}

#btnOrcamentos{
    background-color: rebeccapurple;
    border-radius: 10px;
    color: var(--font-texto);
    font-size: 1rem;
    width: 15rem;
    height: 3rem;
    margin: 7rem auto;
}

#btnOrcamentos:hover{
    cursor: pointer;
    opacity: 0.20;
}

#img3d{
    width: 70%;
    margin: 0 auto 6rem;
    
}

#imgTecnologia{
    border-radius: 20px;
    box-shadow: 15px -50px 500px 70px rgb(25, 32, 50);
}

.titCrescimento{
    font-family: var(--font-family-principal);
    color: white;
    text-align: center;
    margin: 2rem 0rem 6rem;
}

.divCrescimento{
    display: flex;
    gap: 1rem;
    width: 60%;
    height: 5rem;
    border: 1px solid white;
    align-items: center;
    border-radius: 10px;
    margin: 2rem auto;
    color: white;
    background-image: linear-gradient(to right,rgb(14, 13, 13),rgb(81, 10, 81));
}

.divCrescimento p{
    margin-right: 1rem;
}

.icones{
    width: auto;
    height: auto;
    font-size: 2rem;
    color: white;
    margin-left: 1rem;
}

.artigos{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.titArtigos{
    color: white;
    text-align: center;
    margin: 6rem 0 6rem;

}

.divArtigos{
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 20px;
}

.titDepoimentos{
    color: white;
    text-align: center;
    margin: 6rem 0 6rem;
}

.divDepoimentos{
    width: 50rem;
    height: 20rem;
    border: 1px solid white;
    border-radius: 20px;
    margin: 0 auto;
}