:root{
    --font-poppins: 'Poppins', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-poppins);
}

body{
    background-image: linear-gradient(to left, #6204ce, #030008);
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imgLogo{
    margin: 2rem;
}

.txtLeads{
    width: 100vw;
    height: 100vh;
    display: block;
}

.txtLeads p{
    color: #fff;
    font-size: 1.5rem;
    text-align: left;
    font-weight: 300;
    padding: 8rem 0 0 2rem;
    font-family: var(--font-poppins);
}

.txtLeads p span{
    font-size: 2.5rem;
    font-weight: 600;
}

.formLeads{
    width:50rem;
    margin-right: 5rem;
}


form{
    width: 100%;
    background-color: #00000073;
    border-radius: 20px;
    padding: 40px;
    font-family: var(--font-poppins);
    font-weight: 400;
}

form h2{
    color: #fff;
    font-size: 2em;
    text-align: center;
    line-height: 20px;
    margin-bottom: 2.5em;
}

form h2 span{
    font-size: 0.5em;
}

.imputBox{
    margin-bottom: 1em;
}

.imputBox label{
    color: #ffffff;
    font-size: 0.8em;
    display: block;
}

.imputBox input{
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.imputBox input#mensagem{
    width: 100%;
    font-size: 1rem;
    border-radius: 10px;
    padding: 5px;
    border: none;
}

.btnEnviar{
    text-align: center;
    margin-top: 40px;
}

.btnEnviar input{
    width: 10em;
    height: 2.5em;
    background: #02dbe4;
    font-size: 1em;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

/*********** Mobile **********/

/*Transforme sua presença online em resultados reais não perca oportunidades. Invista em um site personalizado que destaque seu negócio */

@media screen and (max-width: 480px) {

    .flex{
        display: block;
        align-items: center;
        justify-content: space-around;
    }

    .imgLogo{
        width: 60%;
        margin: 0 auto;
    }

    .imgLogo img{
        width: 100%;
        margin: 2rem auto 1rem;
    }

    form{
        width: 100%;
        background-color: #00000073;
        border-radius: 20px;
        padding: 20px;
        margin: 3rem auto;
    }

    form h2{
        color: #fff;
        font-size: 1.3em;
        text-align: center;
        line-height: 1em;
        margin-bottom: 2rem;
    }
    
    form h2 span{
        font-size: 0.8rem;
    }

    .formLeads{
        width:80%;
        margin-right: 1rem;
        margin: 0 auto;
    }

    .txtLeads{
        width: 90%;
        height: auto;
        text-align: center;
        margin: 0 auto;
    }
    
    .txtLeads p{
        color: #fff;
        font-size: 1.3em;
        text-align: left;
        padding: 2rem 1rem;
        font-family: var(--font-poppins);
    }
    
    .txtLeads p span{
        font-size: 1.8em;
        font-weight: 600;
        margin-top: 1.5rem;
    }

    .imputBox input{
        padding: 0 auto;
        margin: 0 auto;
        box-sizing: border-box;
    }

}