:root{
   --color-texto-nav:#f5f578;
   --color-texto: white; 
   --font-family-principal: 'Secular One', sans-serif;
   --font-family-segundaria: 'Raleway', sans-serif;
}

header{
    background-color: black;
}

main{
    background-color: black;
}

footer{
    background-color: rgb(26, 20, 20);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    color: var(--color-texto);
    align-items: center;
    justify-content:center;
    gap: 20rem;
    height: 5rem;
}

.logoSite{
    font-family: var(--font-family-principal);
}

.linksNav{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav{
    font-family: var(--font-family-principal);
    font-size: 1.2rem;
    /*Linha abaixo serve para remover a decoração das li do HTML.*/
    list-style-type: none;
    position: relative;
}

.nav::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: var(--color-texto-nav);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.nav:hover::after{
    width: 100%;
}

.nav:hover{
    cursor: pointer;
    color: var(--color-texto-nav);
}

#textoPrimarioCenter{
    width: 100%;
    text-align: center;
}

.textoPrimario{
    box-sizing: border-box;
    color: var(--color-texto);
    font-size: 2.5rem;
    text-align: center;
    font-family: var(--font-family-principal);
    line-height: 1.5rem;
    margin:8rem auto 0;
    background-image: linear-gradient(to right,#463DD6,#FF0090, #FFFF69 );
    -webkit-background-clip: text;
    display: inline-block;
    padding: 0px;
    -webkit-text-fill-color: #00000000;
}

.textoSecundario{
    color: var(--color-texto);
    font-family: var(--font-family-principal);
    text-align: center;
    font-size: 1.5rem;
    line-height: 0.7rem;
    opacity: 0;
}

#orcamento{
    display: flex;
    align-items: center;
}

#btnOrcamentos{
    background-color: rebeccapurple;
    border-radius: 10px;
    color: var(--color-texto);
    font-size: 1rem;
    width: 15rem;
    height: 3rem;
    margin: 7rem auto;
}

#btnOrcamentos:hover{
    cursor: pointer;
    opacity: 0.20;
}

#img3d{
    width: 70%;
    margin: 0 auto 6rem;
    border-radius: 20px;
    
}

#imgTecnologia{
    width: 100%;
    border-radius: 20px;
    box-shadow: 15px -50px 300px 10px rgb(25, 32, 50);
}

.diferenciais{
    color: var(--color-texto);
    font-family: var(--font-family-principal);
    text-align: center;
    margin: 2rem 0 6rem;
}

#diferenciais{
    display: flex;
    width: 70%;
    height: 20rem;
    contain: content;
    margin:  0 auto;
    font-family: var(--font-family-principal);
    color: var(--color-texto);
    gap: 10rem;
    flex-wrap: wrap;
}

.diferencial{
    display: flex;
    width: 100%;
    background-color: #463DD6;
    border-radius: 10%;
    align-items: center;
    text-align: center;
}

.titCrescimento{
    font-family: var(--font-family-principal);
    color:var(--color-texto);
    text-align: center;
    margin: 6rem 0 6rem;
}

.divCrescimento{
    display: flex;
    gap: 1rem;
    width: 60%;
    height: 5rem;
    border: 1px solid white;
    align-items: center;
    border-radius: 10px;
    margin: 2rem auto;
    color: white;
    background-image: linear-gradient(to right,rgb(14, 13, 13),rgb(81, 10, 81));
}

.divCrescimento p{
    margin-right: 1rem;
    color: var(--color-texto);
    font-family: var(--font-family-segundaria);
}

.icones{
    width: auto;
    height: auto;
    font-size: 2rem;
    color: white;
    margin-left: 1rem;
}

.projetos{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.titArtigos{
    font-family: var(--font-family-principal);
    color: white;
    text-align: center;
    margin: 6rem 0 6rem;

}

.divArtigos{
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.Depoimentos{
    display: none;
}

.tit .Depoimentos{

    color: white;
    text-align: center;
    margin: 6rem 0 6rem;
}

.div .Depoimentos{
    width: 50rem;
    height: 20rem;
    border: 1px solid white;
    border-radius: 20px;
    margin: 0 auto ;
}

footer{
    width: 100%;
}

.contatos{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    height: 25rem;
    color: var(--color-texto);
    
}

#email{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: center;
    justify-content: center;
    font-size: 2.7rem;
}

.navegadorRodape{
    display: grid;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    list-style-type: none;
}

.contatoDireto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.itemContato{
    margin: 0.3rem;
    font-size: 1.1rem;
}

.itemContato a{
    text-decoration: none;
    color: white;
}

.rodape{
    display: flex;
    width: 90%;
    height: 7rem;
    justify-content: space-evenly;
    align-items: end;
    margin: 0.3rem auto;
    border-top: 1px solid rgb(73, 71, 71);
}

.redesSociais{
    margin-right: 45rem;
    font-size: 2.5rem;
}

.redesSociais i{
    margin: 0 1rem 0.5rem;
}

.redesSociais:hover{
    cursor: pointer;
}

footer i{
    color: var(--color-texto);
}

.copy{
    font-size: 1rem;
    color: white;
    margin-bottom:0.3rem ;
}
.textoCopy{
    margin-bottom: 0px;
}