*{
    margin: 0;
    padding: 0;
}

:root{
    --color1:#04364A;
    --color2:#176B87;
    --color3:#64CCC5;
    --font-family: 'Indie Flower', cursive;
    --font-family2: 'Alegreya Sans', sans-serif;
}

/*.contentor{
    display: flex;
    justify-content: center;
    width:100vw;
    height: 100vh;
    background-image: url(../imagens/thanks.png);
    background-size: 100% 100%;/*Isso fará com que a imagem se ajuste à largura e altura da tela, mas pode distorcer a imagem se as proporções não coincidirem.*/
    /*background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página rola 
}*/

.contentor{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    background:linear-gradient(to left, var(--color1),var(--color3) ,var(--color1));
}

h1{
    font-family: var(--font-family);
    color: white;
    font-size: 2.5rem;
    margin-top: 17%;
}

.btnVoltar{
    width: 15rem;
    height: 4rem;
    color: white;
    font-family: var(--font-family2);
    font-weight: 500;
    font-size: 1.2rem;
    background-color:var(--color2);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.79);
}

@media screen and (max-width: 480px) {

    .contentor{

    }

    h1{
        margin-top: 60%;
        font-size: 1.4rem;
    }
}