*{
    margin: 0;
    padding: 0;
}

.contentor{
    width:100vw;
    height: 100vh;
    background-image: url(../imagens/img_thanks.jpg);
    background-size: 100% 100%;/*Isso fará com que a imagem se ajuste à largura e altura da tela, mas pode distorcer a imagem se as proporções não coincidirem.*/
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página rola */
}

h1{
    color: white;
}